$sb-radius: 3px !default;

$sb-width-start: 0   !default;
$sb-width-end:   8   !default;
$sb-width-step:  0.5 !default;

$sb-space-start: 0    !default;
$sb-space-end:   8    !default;
$sb-space-step:  0.25 !default;
