/**
 * Colors
 */

$color-body:       #FFFFFF;
$color-on-body:    #000000;
$color-surface:    #FFFFFF;
$color-on-surface: #000000;

$color-link:       #3F51B5;

/**
 * Layout
 */

$page-width-max: 960px;
$page-width-min: 320px;
