@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i&subset=latin-ext);

/**
 * Vars
 */

$color-secondary: #f7f7f7;
$color-github:  #4183c4;

/**
 * Stylebox
 */

@import './scss/stylebox';

@include sb-flex-containers;
@include sb-flex-children;

@include sb-space(0, 8);

@include sb-color('secondary', $color-secondary);

@include sb-edge('secondary', $color-secondary, inset);

/**
 * Icons
 */

@import './node_modules/font-awesome/scss/variables';
@import './node_modules/font-awesome/scss/path';
@import './node_modules/font-awesome/scss/core';
@import './node_modules/font-awesome/scss/mixins';

.fa-github::before {content: $fa-var-github}

.fa-github, a.fa-github   {color: $color-github}

.fa::before {
  display: inline-block;
  width: 1em;
  text-align: center;
}

/**
 * Misc
 */

html {
  min-width: 320px;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Open Sans, sans-serif;
  font-size: 16px;
}

html *,
html ::before,
html ::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  @extend .weight-normal;
}

table {
  @extend .width-100p;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

table tr > * {
  @extend .padding-0x25-v;
}

table td {
  @extend .edge-in-secondary-t;
}

table th {
  @extend .text-left;
  @extend .weight-normal;
}
