*, ::before, ::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/**
 * Typography
 */

* {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: inherit;
}

pre, code, kbd {
  font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

/**
 * :focus
 */

:focus {
  outline: none;
}

// FF
::-moz-focus-inner {
  border: none;
}

/**
 * cursors
 */

html, :-webkit-any-link {
  cursor: default;
}

/**
 * button
 */

button {
  cursor: pointer;
  border: none;
  color: inherit;
  background-color: inherit;
  &:focus {@extend :focus;}
  &:active {@extend :focus;} // FF
  > * {vertical-align: middle}
  border-radius: 0;
}

[role=button] {
  cursor: pointer;
  text-align: center;
}

[role=slider] {
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab;
}

[role=option] {
  cursor: pointer;
}

/**
 * inputs
 */

input, textarea {
  border: none;
  color: inherit;
  background-color: inherit;
}

input:not([type=checkbox]):not([type=radio]) {
  appearance: none;
}

input[type="search"]::-webkit-search-decoration {
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: none;
}

textarea {
  resize: none;
}

::placeholder {
  color: currentColor;
  opacity: 0.5;
}

form, input, textarea, button, select, option {
  text-decoration: inherit; // FF
}

input[type=checkbox],
input[type=radio],
input[type=select],
input[type=file],
input[type=submit] {
  cursor: pointer;
}

// In Chrome (version 63 and possibly others), radio inputs shrink, while
// radio inputs don't.
input[type=radio] {
  flex-shrink: 0;
}

// Eliminates some minor layout glitches
form {
  display: flex;
  flex-direction: column;
}

/**
 * hr
 */

hr {
  margin: 0;
  border: none;
  // Applying border to a pseudoelement rather than the <hr /> itself allows
  // padding to affect the width
  &::before {
    content: '';
    display: block;
    border-top: 1px solid;
  }
}

/**
 * anchor
 */

a {
  text-decoration: none;
  // Screw default anchor colors! They always mess with themes. Let's decorate
  // links manually.
  color: inherit;
}

a[href] {
  cursor: pointer;
}

a[disabled] {
  pointer-events: none;
}

/**
 * Lists
 */

ul, ol {
  list-style-type: disc;
  list-style-position: inside;
}

/**
 * monospace
 */

pre {
  white-space: pre;
}

/**
 * Typography
 */

b, strong {
  font-weight: bolder;
}

/**
 * Misc
 */

// IE 10 fix & higher specificity.
[hidden]:not(:root) {display: none}

// IE fix.
template {display: none !important}

[disabled] {
  // pointer-events: none;
  cursor: not-allowed;
  opacity: 0.85;
}

img {
  max-width: 100%;
}
