@mixin button($name, $background, $color, $radius) {
  .button {
    display: inline-flex;
    cursor: pointer;
    text-align: center;

    &-#{$name} {
      background: $background;
      border-radius: $radius;
      color: $color;
      @content;
    }
  }
}

@mixin button-size($name, $padding) {
  .button-size-#{$name} {
    padding: $padding;
    @content;
  }
}

@mixin button--hover($background, $color) {
  &:hover,
  &.hover {
    background: $background;
    color: $color;
    @content;
  }
}

@mixin button--active($background, $color) {
  &:active,
  &.active {
    background: $background;
    color: $color;
    @content;
  }
}

@mixin button--disabled($background, $color) {
  &[disabled],
  &.disabled {
    background: $background;
    color: $color;
    cursor: not-allowed;
    @content;
  }
}

@mixin button--icon($normal, $hover, $active, $disabled) {
  .icon {
    color: $normal;
    @content;
  }

  &:hover,
  &.hover {
    .icon {
      color: $hover;
    }
  }

  &:active,
  &.active {
    .icon {
      color: $active;
    }
  }

  &[disabled],
  &.disabled {
    .icon {
      color: $disabled;
    }
  }
}

@mixin button-reduction($size, $name) {
  .btn-#{$size}-#{$name} {
    @extend .button;
    @extend .button-size-#{$size};
    @extend .button-#{$name};
  }
}

