@mixin sb-edge($name, $color, $inset: null) {
  .edge-#{sb-direction($inset)}-#{$name} {
    box-shadow: #{sb-shadow-top($inset, $color)},
                #{sb-shadow-bottom($inset, $color)},
                #{sb-shadow-left($inset, $color)},
                #{sb-shadow-right($inset, $color)};

    &-t {
      box-shadow: #{sb-shadow-top($inset, $color)};
    }

    &-b {
      box-shadow: #{sb-shadow-bottom($inset, $color)};
    }

    &-l {
      box-shadow: #{sb-shadow-left($inset, $color)};
    }

    &-r {
      box-shadow: #{sb-shadow-right($inset, $color)};
    }

    &-v {
      box-shadow: #{sb-shadow-top($inset, $color)},
                  #{sb-shadow-bottom($inset, $color)};
    }

    &-h {
      box-shadow: #{sb-shadow-left($inset, $color)},
                  #{sb-shadow-right($inset, $color)};
    }
  }
}

@mixin sb-color($name, $color) {
  .fg-#{$name},
  .fg-hover-#{$name}:hover,
  .fg-links-#{$name} a,
  .fg-links-hover-#{$name} a:hover {
    color: $color;
  }

  .bg-#{$name},
  .bg-hover-#{$name}:hover {
    background-color: $color;
  }

  @include sb-edge($name, $color);
  @include sb-edge($name, $color, inset);
}
