@mixin edge($name, $color, $inset:null) {
  .edge-#{getDir($inset)} {
    &-#{$name} {
      box-shadow: #{getTopShadow($inset, $color)},
                  #{getBottomShadow($inset, $color)},
                  #{getLeftShadow($inset, $color)},
                  #{getRightShadow($inset, $color)};

      &-t {
        box-shadow: #{getTopShadow($inset, $color)};
      }

      &-b {
        box-shadow: #{getBottomShadow($inset, $color)};
      }

      &-l {
        box-shadow: #{getLeftShadow($inset, $color)};
      }

      &-r {
        box-shadow: #{getRightShadow($inset, $color)};
      }

      &-v {
        box-shadow: #{getTopShadow($inset, $color)},
                    #{getBottomShadow($inset, $color)};
      }

      &-h {
        box-shadow: #{getLeftShadow($inset, $color)},
                    #{getRightShadow($inset, $color)};
      }
    }
  }
}

@mixin color($name, $color) {
  .fg-#{$name},
  .fg-hover-#{$name}:hover,
  .fg-links-#{$name} a,
  .fg-links-hover-#{$name} a:hover {
    color: $color;
  }

  .bg-#{$name},
  .bg-hover-#{$name}:hover {
    background-color: $color;
  }

  @include edge($name, $color);
  @include edge($name, $color, inset);
}
