// Axis directions.
$directions: row, col;
// Main-axis variants.
$main: start, center, end, around, between;
// Cross-axis variants.
$cross: start, center, end, stretch;

@function container-class($direction, $main, $cross) {
  @return '.#{$direction}-#{$main}-#{$cross}';
}

@function each-for-direction($direction) {
  $selector: ();
  @each $main in $main {
    @each $cross in $cross {
      $class: container-class($direction, $main, $cross);
      $selector: append($selector, $class, 'comma');
    }
  }
  @return $selector;
}

@function each-container() {
  $selector: ();
  @each $direction in $directions {
    $selector: append($selector, each-for-direction($direction), 'comma');
  }
  @return $selector;
}

@function each-for-main($main) {
  $selector: ();
  @each $direction in $directions {
    @each $cross in $cross {
      $class: container-class($direction, $main, $cross);
      $selector: append($selector, $class, 'comma');
    }
  }
  @return $selector;
}

@function each-for-cross($cross) {
  $selector: ();
  @each $direction in $directions {
    @each $main in $main {
      $class: container-class($direction, $main, $cross);
      $selector: append($selector, $class, 'comma');
    }
  }
  @return $selector;
}

@mixin flex-containers {
  // Base directions.
  #{each-container()}        {display: flex}
  #{each-for-direction(row)} {flex-direction: row}
  #{each-for-direction(col)} {flex-direction: column}

  // Main axis alignment variants.
  #{each-for-main(start)}    {justify-content: flex-start}
  #{each-for-main(center)}   {justify-content: center}
  #{each-for-main(end)}      {justify-content: flex-end}
  #{each-for-main(around)}   {justify-content: space-around}
  #{each-for-main(between)}  {justify-content: space-between}

  // Cross axis alignment variants.
  #{each-for-cross(start)}   {align-items: flex-start}
  #{each-for-cross(center)}  {align-items: center}
  #{each-for-cross(end)}     {align-items: flex-end}
  #{each-for-cross(stretch)} {align-items: stretch}

  // Child wrapping.
  .flex-wrap   {flex-wrap: wrap}
  .flex-nowrap {flex-wrap: nowrap}
}

@mixin flex-children {
  // .flex-N {flex: N} where 1 <= N <= 12
  $i: 1;
  @while $i <= 12 {
    .flex-#{$i} {flex: $i}
    $i: $i + 1;
  }
}
