$sb-flex-axes: row, col;
$sb-main-axes: start, center, end, around, between;
$sb-cross-axes: start, center, end, stretch;

@function sb-container-class($direction, $main, $cross) {
  @return '.#{$direction}-#{$main}-#{$cross}';
}

@function sb-each-for-direction($direction) {
  $selector: ();
  @each $main in $sb-main-axes {
    @each $cross in $sb-cross-axes {
      $class: sb-container-class($direction, $main, $cross);
      $selector: append($selector, $class, 'comma');
    }
  }
  @return $selector;
}

@function sb-each-container() {
  $selector: ();
  @each $direction in $sb-flex-axes {
    $selector: append($selector, sb-each-for-direction($direction), 'comma');
  }
  @return $selector;
}

@function sb-each-for-main($main) {
  $selector: ();
  @each $direction in $sb-flex-axes {
    @each $cross in $sb-cross-axes {
      $class: sb-container-class($direction, $main, $cross);
      $selector: append($selector, $class, 'comma');
    }
  }
  @return $selector;
}

@function sb-each-for-cross($cross) {
  $selector: ();
  @each $direction in $sb-flex-axes {
    @each $main in $sb-main-axes {
      $class: sb-container-class($direction, $main, $cross);
      $selector: append($selector, $class, 'comma');
    }
  }
  @return $selector;
}

@mixin sb-flex-containers {
  // Base directions.
  #{sb-each-container()}        {display: flex}
  #{sb-each-for-direction(row)} {flex-direction: row}
  #{sb-each-for-direction(col)} {flex-direction: column}

  // Main axis alignment variants.
  #{sb-each-for-main(start)}    {justify-content: flex-start}
  #{sb-each-for-main(center)}   {justify-content: center}
  #{sb-each-for-main(end)}      {justify-content: flex-end}
  #{sb-each-for-main(around)}   {justify-content: space-around}
  #{sb-each-for-main(between)}  {justify-content: space-between}

  // Cross axis alignment variants.
  #{sb-each-for-cross(start)}   {align-items: flex-start}
  #{sb-each-for-cross(center)}  {align-items: center}
  #{sb-each-for-cross(end)}     {align-items: flex-end}
  #{sb-each-for-cross(stretch)} {align-items: stretch}
}

@mixin sb-flex-children {
  // .flex-N {flex: N} where 1 <= N <= 12
  $i: 1;
  @while $i <= 12 {
    .flex-#{$i} {flex: $i}
    $i: $i + 1;
  }
}

@mixin sb-flex {
  @include sb-flex-children;
  @include sb-flex-containers;

  // Child wrapping.
  .flex-wrap       {flex-wrap: wrap}
  .flex-nowrap     {flex-wrap: nowrap}

  // Child stretching.
  .row-stretch     {@extend .row-start-stretch;}
  .row-stretch > * {@extend .flex-1;}
  .col-stretch     {@extend .col-start-stretch;}
  .col-stretch > * {@extend .flex-1;}

  .flex-shrink-none {flex-shrink: 0}
}
