@mixin sb-placeholder($color, $opacity: 1) {
  &::placeholder {
    color: $color;
    opacity: $opacity !important;
  }
}

@mixin sb-first() {
  &:first-child {
    @content;
  }
}

@mixin sb-last() {
  &:last-child {
    @content;
  }
}

@mixin sb-not-first() {
  &:not(:first-child) {
    @content;
  }
}

@mixin sb-not-last() {
  &:not(:last-child) {
    @content;
  }
}

@mixin sb-transition($property: all, $duration: 0.2s, $function: ease-out) {
  transition: $property $duration $function;
}

@mixin sb-height-percentage-trick($height-percentage) {
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: $height-percentage;
  }

  flex-shrink: 0;
}

@mixin sb-multiline-ellipsis($line-height: 2.5ex, $line-count: 2) {
  display: -webkit-box;
  width: 100%;
  height: $line-height * $line-count;
  line-height: $line-height;
  -webkit-line-clamp: $line-count;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
