@mixin sb-position {
  @include sb-position-property(absolute, 'abs');
  @include sb-position-property(fixed,    'fix');
}

@mixin sb-position-property($property: absolute, $name: 'abs') {
  .#{$name} {
    position: $property;
  }

  .#{$name}-t {
    top: 0;
    position: $property;
  }
  .#{$name}-t-l {
    top: 0;
    left: 0;
    position: $property;
  }
  .#{$name}-t-r {
    top: 0;
    right: 0;
    position: $property;
  }

  .#{$name}-b {
    bottom: 0;
    position: $property;
  }
  .#{$name}-b-l {
    bottom: 0;
    left: 0;
    position: $property;
  }
  .#{$name}-b-r {
    bottom: 0;
    right: 0;
    position: $property;
  }

  .#{$name}-l {
    left: 0;
    position: $property;
  }
  .#{$name}-r {
    right: 0;
    position: $property;
  }

  .#{$name}-fit {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: $property;
  }
  .#{$name}-center {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: $property;
  }
}
