@mixin sb-radius($radius) {
  .rounded     {border-radius: $radius;}
  .rounded-t   {border-radius: $radius $radius 0 0;}
  .rounded-t-l {border-radius: $radius 0 0 0;}
  .rounded-t-r {border-radius: 0 $radius 0 0;}
  .rounded-b   {border-radius: 0 0 $radius $radius;}
  .rounded-b-l {border-radius: 0 0 0 $radius;}
  .rounded-b-r {border-radius: 0 0 $radius 0;}
  .rounded-l   {border-radius: $radius 0 0 $radius;}
  .rounded-r   {border-radius: 0 $radius $radius 0;}
}
