@mixin rounding($radius) {
  border-radius: $radius;

  &-t {
    border-radius: $radius $radius 0 0;

    &-l {
      border-radius: $radius 0 0 0;
    }

    &-r {
      border-radius: 0 $radius 0 0;
    }
  }

  &-b {
    border-radius: 0 0 $radius $radius;

    &-l {
      border-radius: 0 0 0 $radius;
    }

    &-r {
      border-radius: 0 0 $radius 0;
    }
  }

  &-l {
    border-radius: $radius 0 0 $radius;
  }

  &-r {
    border-radius: 0 $radius $radius 0;
  }
}
