@mixin shadow($name, $color, $inset:null) {
  .shadow-#{getDir($inset)} {
    &-#{$name} {
      box-shadow: #{getTopShadow($inset, $color)},
                  #{getBottomShadow($inset, $color)},
                  #{getLeftShadow($inset, $color)},
                  #{getRightShadow($inset, $color)};

      &-t {
        box-shadow: #{getTopShadow($inset, $color)};
      }

      &-b {
        box-shadow: #{getBottomShadow($inset, $color)};
      }

      &-l {
        box-shadow: #{getLeftShadow($inset, $color)};
      }

      &-r {
        box-shadow: #{getRightShadow($inset, $color)};
      }

      &-v {
        box-shadow: #{getTopShadow($inset, $color)},
                    #{getBottomShadow($inset, $color)};
      }

      &-h {
        box-shadow: #{getLeftShadow($inset, $color)},
                    #{getRightShadow($inset, $color)};
      }
    }
  }
}
