@import '../_utils';

@mixin sb-space($min, $max, $step: 0.25) {
  $val: $min;

  @while $val <= $max {
    $size: sb-str-replace($val + '', '.', 'x');

    .margin-#{$size}   {margin:        #{$val}rem;}
    .margin-#{$size}-t {margin-top:    #{$val}rem;}
    .margin-#{$size}-r {margin-right:  #{$val}rem;}
    .margin-#{$size}-b {margin-bottom: #{$val}rem;}
    .margin-#{$size}-l {margin-left:   #{$val}rem;}
    .margin-#{$size}-v {margin-top:    #{$val}rem; margin-bottom: #{$val}rem;}
    .margin-#{$size}-h {margin-left:   #{$val}rem; margin-right: #{$val}rem;}

    .children-margin-#{$size}-v > :not(:first-child) {margin-top:  #{$val}rem;}
    .children-margin-#{$size}-h > :not(:first-child) {margin-left: #{$val}rem;}

    .padding-#{$size}   {padding:        #{$val}rem;}
    .padding-#{$size}-t {padding-top:    #{$val}rem;}
    .padding-#{$size}-r {padding-right:  #{$val}rem;}
    .padding-#{$size}-b {padding-bottom: #{$val}rem;}
    .padding-#{$size}-l {padding-left:   #{$val}rem;}
    .padding-#{$size}-v {padding-top:    #{$val}rem; padding-bottom: #{$val}rem;}
    .padding-#{$size}-h {padding-left:   #{$val}rem; padding-right: #{$val}rem;}

    $val: $val + $step;
  }
}
