@import '../_utils';

@mixin sb-space($min, $max, $step: 0.25) {
  $val: $min;

  @while $val <= $max {
    @include sb-margin($val);
    @include sb-padding($val);
    @include sb-gaps-v($val);
    @include sb-gaps-h($val);

    $val: $val + $step;
  }
}

@mixin sb-margin($val, $prefix: '') {
  $size: sb-str-replace($val + '', '.', 'x');

  .#{$prefix}margin-#{$size}   {margin:        #{$val}rem;}
  .#{$prefix}margin-t-#{$size} {margin-top:    #{$val}rem;}
  .#{$prefix}margin-r-#{$size} {margin-right:  #{$val}rem;}
  .#{$prefix}margin-b-#{$size} {margin-bottom: #{$val}rem;}
  .#{$prefix}margin-l-#{$size} {margin-left:   #{$val}rem;}
  .#{$prefix}margin-v-#{$size} {margin-top:    #{$val}rem; margin-bottom: #{$val}rem;}
  .#{$prefix}margin-h-#{$size} {margin-left:   #{$val}rem; margin-right: #{$val}rem;}
}

@mixin sb-padding($val, $prefix: '') {
  $size: sb-str-replace($val + '', '.', 'x');

  .#{$prefix}padding-#{$size}   {padding:        #{$val}rem;}
  .#{$prefix}padding-t-#{$size} {padding-top:    #{$val}rem;}
  .#{$prefix}padding-r-#{$size} {padding-right:  #{$val}rem;}
  .#{$prefix}padding-b-#{$size} {padding-bottom: #{$val}rem;}
  .#{$prefix}padding-l-#{$size} {padding-left:   #{$val}rem;}
  .#{$prefix}padding-v-#{$size} {padding-top:    #{$val}rem; padding-bottom: #{$val}rem;}
  .#{$prefix}padding-h-#{$size} {padding-left:   #{$val}rem; padding-right: #{$val}rem;}
}

@mixin sb-gaps-v($val, $prefix: '') {
  $size: sb-str-replace($val + '', '.', 'x');

  .#{$prefix}gaps-v-#{$size} > :not(:last-child):not(:only-child):not(.no-gaps-v) {
    margin-bottom: #{$val}rem;
  }
}

@mixin sb-gaps-h($val, $prefix: '') {
  $size: sb-str-replace($val + '', '.', 'x');

  .#{$prefix}gaps-h-#{$size} > :not(:last-child):not(:only-child):not(.no-gaps-h) {
    margin-right: #{$val}rem;
  }
}
