@import  '../mixins/misc';

/**
 * geometry
 */

.square {
  @include sb-height-percentage-trick(100%);
}

.circle { border-radius: 50% }

/**
 * background size
 */

.bg-cover {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.bg-contain {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

/**
 * layout
 */

.center-by-margins {
  margin-left: auto;
  margin-right: auto;
}

.stretch-to-viewport {
  min-height: 100vh;
  @extend .col-start-stretch;
}
