/**
 * Text transformation and decoration
 */

.undecorated {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

/**
 * Text align
 */

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.valign-top {
  vertical-align: top;
}

.valign-middle {
  vertical-align: middle;
}

.valign-bottom {
  vertical-align: bottom;
}

/**
 * Cursor styles
 */

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.no-pointer-styles {
  pointer-events: none;
}

/**
 * Text wrapping
 */

.nowrap {
  white-space: nowrap;
}

.text-ellipsis {
  text-overflow: ellipsis;
  @extend .nowrap;
  @extend .overflow-hidden;
}

/**
 * Font weight
 */

.weight-light {
  font-weight: light;
}

.weight-normal {
  font-weight: normal;
}

.weight-bold {
  font-weight: bold;
}
