/**
 * position
 */

.relative { position: relative }
.absolute { position: absolute }
.static   { position: static }
.fixed    { position: fixed }

/**
 * display
 */

.block              { display: block }
.inline             { display: inline }
.inline-block       { display: inline-block }
.inline-table       { display: inline-table }
.table              { display: table }
.table-row-group    { display: table-row-group }
.table-header-group { display: table-header-group }
.table-footer-group { display: table-footer-group }
.table-row          { display: table-row }
.table-column-group { display: table-column-group }
.table-column       { display: table-column }
.table-cell         { display: table-cell }
.table-caption      { display: table-caption }
.list-item          { display: list-item }
.run-in             { display: run-in }
.flex               { display: flex }

/**
 * overflow
 */

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-scroll {
  overflow-x: auto;
  overflow-y: hidden;
}

.overflow-y-scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

/**
 * cursor
 */

.cursor-auto      { cursor: auto }
.cursor-move      { cursor: move }
.cursor-text      { cursor: text }
.cursor-wait      { cursor: wait }
.cursor-help      { cursor: help }
.cursor-default   { cursor: default }
.cursor-pointer   { cursor: pointer }
.cursor-zoom-in   { cursor: zoom-in }
.cursor-progress  { cursor: progress }
.cursor-crosshair { cursor: crosshair }

.no-pointer-styles { pointer-events: none }

/**
 * float
 */

.float-none  { float: none }
.float-left  { float: left }
.float-right { float: right }

/**
 * clear
 */

.clear-none  { clear: none }
.clear-both  { clear: both }
.clear-left  { clear: left }
.clear-right { clear: right }

/**
 * visibility
 */

.visibility-hidden   { visibility: hidden }
.visibility-visible  { visibility: visible }
.visibility-collapse { visibility: collapse }

/**
 * tables
 */

.table-fixed { table-layout: fixed }
